body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 2rem;
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1em;
}
main {
  overflow: hidden;
  position: relative;
}
p.error {
  clear: both;
  color: #f00;
  padding: 0.25rem;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
form, .addresses {
  float: left;
  width: 60%;
}
.events {
  float: right;
  width: 40%;
}
.addresses pre {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
}
.addresses .selected > pre {
  outline: 1px dashed #333;
}
